--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn[standard]
python-multipart

# Pydantic v2 stack (works on 3.10)
pydantic[email]
langchain
langchain-openai
openai
httpx

transformers
torch
Pillow

motor
pymongo
